DATABASE_URL=postgresql://username:password@localhost/sop_db
JWT_SECRET_KEY=your_jwt_secret
ADMIN_SECRET=your_admin_secret
JWT_ACCESS_TOKEN_EXPIRES_HOURS=8
FLASK_DEBUG=1
APP_HOST=0.0.0.0
APP_PORT=5000
